*.c text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.md text eol=lf

*.c linguist-language=C
*.h linguist-language=C
*.s linguist-language=Unix Assembly
*.cmake linguist-language=CMake
